div {
    color: #c20909;
    border: 10px solid wheat;
    margin: 10px 20px;
}

h3 {
    color: blue;
    text-transform: uppercase;
}

.header {
  height: 300px;
 
  background-color: bisque;
  background-image:url('Image/typing.jpg'); 
  background-repeat: repeat-x;


}